@import "variables";
@import "components";
@import "views";

.text-pink {
  color: $pink;
}

.text-blue {
  color: $blue;
}

textview, a {
  color: $primary-text-color;
}

.window {
  width: 100%;
  height: 100%;
}
