build
.xmake
.vscode
lcpkg
vendor
node_modules
include/config.h
include/version.h
app/app
app/store.data
app/assets/fonts
app/assets/stylesheets
scripts/*.json
Release
Debug
CMakeLists.txt
!src/**/**/CMakeLists.txt
*.pdb
*.exe
*.dll
*.log