build
.xmake
.vscode
lcpkg
vendor
node_modules
include/config.h
include/version.h
app/app
app/store.data
app/assets/fonts
app/assets/stylesheets
scripts/*.json
config/builder.json
Release
Debug
CMakeLists.txt
CMakeLists.txt.in
xmake.lua
xmake.lua.in
*.pdb
*.exe
*.dll
*.log