
.c-frame-tab__spinner {
  width: 16px;
  height: 16px;
  color: $primary;
  font-size: 16px;
  display: none;
  margin-top: 2px;
}

.c-frame-tab__icon {
  width: 16px;
  line-height: 16px;
  font-size: 16px;
  margin-top: ($browser-tabbar-line-height - 16px) / 2;
}

.c-frame-tab__text {
  margin-left: 8px;
}

.c-frame-tab__close {
  top: 10px;
  right: 8px;
  width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  position: absolute;
  border-radius: 8px;

  &:hover {
    background-color: $navbar-btn-bg-hover;
  }

  &:active {
    background-color: $navbar-btn-bg-active;
  }
}

.c-frame-tab__left-divider,
.c-frame-tab__right-divider {
  top: 8px;
  width: 1px;
  height: $browser-tabbar-line-height;
  position: absolute;
  background-color: $frame-tab-divier-color;
}

.c-frame-tab__left-divider {
  left: 0;
  display: none;
}

.c-frame-tab__right-divider {
  right: 0;
}

.c-frame-tab {
  width: 100%;
  min-width: 140px;
  max-width: 15%;
  position: relative;
  margin-right: -1px;
  line-height: $browser-tabbar-line-height;
  padding: 8px 32px 8px 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: inline-block;

  &.loading {
    .c-frame-tab__spinner {
      display: inline-block;
    }

    .c-frame-tab__icon {
      display: none;
    }
  }

  &:first-child {
    .c-frame-tab__left-divider {
      display: none;
    }
  }

  &:last-child {
    .c-frame-tab__left-divider {
      display: block;
    }
  }

  &:hover,
  &.active {
    z-index: 1;

    .c-frame-tab__left-divider,
    .c-frame-tab__right-divider {
      display: none;
    }
  }

  &:hover {
    background-color: $frame-tab-bg-hover;
  }

  &.active {
    background-color: #fff;
  }
}
