.c-frame-tab__spinner {
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  color: $primary;
  font-size: 16px;
  display: none;
  margin-top: ($browser-tabbar-line-height - 16px) / 2;
}

.c-frame-tab__icon {
  width: 16px;
  flex: 0 0 auto;
  line-height: 16px;
  font-size: 16px;
  margin-top: ($browser-tabbar-line-height - 16px) / 2;
}

.c-frame-tab__text {
  flex: 1 1 auto;
  height: $browser-tabbar-line-height;
  line-height: $browser-tabbar-line-height;
  margin: 0 8px 0 8px;
}

.c-frame-tab__close {
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-radius: 8px;
  margin: 2px 0 0 auto;

  &:hover {
    background-color: $navbar-btn-bg-hover;
  }

  &:active {
    background-color: $navbar-btn-bg-active;
  }
}

.c-frame-tab__left-divider,
.c-frame-tab__right-divider {
  top: 8px;
  width: 1px;
  height: $browser-tabbar-line-height;
  position: absolute;
  background-color: $frame-tab-divier-color;
}

.c-frame-tab__left-divider {
  left: 0;
  display: none;
}

.c-frame-tab__right-divider {
  right: 0;
}

.c-frame-tab {
  width: 100%;
  min-width: 60px;
  max-width: 25%;
  position: relative;
  margin-right: -1px;
  padding: 8px;
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  &.loading {
    .c-frame-tab__spinner {
      display: block;
    }

    .c-frame-tab__icon {
      display: none;
    }
  }

  &:first-child {
    .c-frame-tab__left-divider {
      display: none;
    }
  }

  &:last-child {
    .c-frame-tab__left-divider {
      display: block;
    }
  }

  &:hover,
  &.active {
    z-index: 1;

    .c-frame-tab__left-divider,
    .c-frame-tab__right-divider {
      display: none;
    }
  }

  &:hover {
    background-color: $frame-tab-bg-hover;
  }

  &.active {
    background-color: #fff;
  }
}
