.v-browser {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.v-browser__tabbar {
  display: flex;
  flex: 0 0 auto;
  align-items: flex-start;
  background-color: $browser-tabbar-bg;
  padding: 8px 8px 0 8px;
}

.v-browser__btn-add-tab {
  width: 28px;
  font-size: 18px;
  line-height: 28px;
  border-radius: 14px;
  margin-left: 10px;
  text-align: center;
  margin-top: 4px;
  flex: 0 0 auto;

  &:hover {
    background-color: $browser-btn-add-tab-bg-hover;
  }
  &:active {
    background-color: $browser-btn-add-tab-bg-active;
  }
}
