.v-file {

}

.v-file__body {
  margin: 0 -5px 20px -5px;
}

.c-file-list-item__left {
  display: flex;
  flex: 1 1 auto;
}

.c-file-list-item__name {
  flex: 1 1 auto;
}

.c-file-list-item__link {
  display: inline-block;
}

.c-file-list-item__icon {
  margin-right: 5px;
  flex: 0 0 auto;
}

.c-file-list-item__size {
  flex: 0 0 auto;
  width: 80px;
}

.c-file-list-item__date {
  flex: 0 0 auto;
  text-align: right;
  width: 160px;
}

.c-file-list-item {
  display: flex;
  padding: 5px;

  &:hover {
    background-color: rgba($primary, 0.05);

    router-link.c-file-list-item__link {
      color: $primary;

      &:hover {
        color: lighten($primary, 10);
      }
      &:active {
        color: darken($primary, 10);
      }
    }
  }

  &.is-folder {
    .c-file-list-item__icon {
      color: $orange;
    }
  }
}

.c-file-list-header {
  display: flex;
  padding: 5px;

  text {
    font-weight: bold;
  }
}
