.v-home {

}

.v-home__card-icon {
  display: block;
  width: $home-card-icon-size;
  height: $home-card-icon-size;
  border-radius: $home-card-icon-size / 2;
  background-color: $home-card-icon-bg;
  line-height: $home-card-icon-size;
  font-size: $home-card-icon-size / 2;
  text-align: center;
  margin: 0 auto $home-card-spacing auto;
}

.v-home__card-title {
  display: block;
  text-align: center;
  line-height: $home-card-title-line-height;
}

.v-home__card {
  width: $home-card-width;
  padding-top: $home-card-spacing;
  margin-bottom: $home-card-spacing;
  display: inline-block;
  border-radius: $border-radius;

  &:hover {
    background-color: $home-card-bg-hover;
  }
}

.v-home__cards {
  padding-top: 16px;
  vertical-align: middle;
}
