.v-preview {
  .example {
    padding: 10px 5px 5px 5px;

    h5 {
      margin-bottom: 15px;
    }
  }

  .buttons-wrapper {
    margin: -5px -5px 5px -5px;
    padding: 5px;

    .btn {
      margin-right: 8px;
    }
  }
}
